<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 1</a></strong>
			- In process...
		</h5>
		<h5>
			<i class="fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 2</a></strong>
			- .
		</h5>
        	<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>
			- .
		</h5>


    </div>
  </div>
</div>
</section>
